*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;
    
}

#heading{
    width: 100%;
    height: 25%;
    text-align: center;
    color: aliceblue;
    font-family: 'Rock Salt';
    font-size: 60px;
    padding: 30px 0 0 0;
    font-weight: 900;
    /* background-color: #1f1e1e; */
    background: linear-gradient( rgb(255, 60, 0),rgb(255, 191, 0),rgb(255, 47, 193),rgb(82, 4, 82));
    color: aliceblue;
    position: relative;
    border-bottom: 2px solid  rgb(52, 8, 52);
    /* mix-blend-mode: multiply; */
    cursor:default;
    text-shadow: 2px 2px 10px black;
}

#crsr{
    width: 18px;
    height: 18px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 25px aliceblue;
    mix-blend-mode: difference;
}
#body{
    height: 75% ;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
}
.card{
    height: 75%;
    width: 24%;
    background-color: #1a1919;
    border-radius: 3%;
    /* position: relative; */
}
#title{
    font-family: 'Bilbo Swash Caps', 'cursive';
    font-size: x-large;
    color: aliceblue;
    text-align: center;
    border-bottom: 2px solid rgb(62, 62, 62);
    cursor: default;
    
}

#addF h4{
    color: aliceblue;
    font-size: large;
    font-weight: 400px;
    text-align: center;
    margin-top: 30px;
    cursor: default;
}
#addF button{
    padding: 10px;
    background-color: rgb(7, 169, 219);
    margin-left: 130px;
    margin-top: 35px;
    color: aliceblue;
    font-weight: 300;
    border: 2px solid aliceblue ;
    border-radius: 8%;
    box-shadow: 0 0 10px aliceblue;
    cursor: pointer;
} 
#addF div img{
    width: 80%;
    height: 90%;
    object-fit: cover;
    padding-left: 60px;
    padding-top: 30px;
    
}
#like img{
    width: 100%;
    height: 92%;
    object-fit: cover;
    position: relative;
}
#heart{
    font-size: 60px;
    opacity: 0;
    color: white;
    position: absolute;
    right: 14%;
    bottom: 31%;
    text-shadow: 0px 0px 10px #111;
    /* top: 20%; */
}
#platform{
    width: 100%;
    height: 20%;
    background-color: black ;
    overflow: hidden;
    /* align-items: center; */
    padding: 3px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;

}
#platform::-webkit-scrollbar{
    display: none;
}
.prsn{
    height: 74px;
    width: 74px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background: linear-gradient(rgb(255, 60, 0),rgb(255, 191, 0),rgb(255, 47, 193),rgb(82, 4, 82));
    display: inline-block;
    margin-right: 2px;
    padding: 1.25px;
    
}
#full-screen{
    height: 100%;
    width: 100%;
    display: none;
    /* background-color: red ; */
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(101, 101, 101);
}
#story{
    position: relative;
}